html {
    font-size: 13px;
}

.card-old-price{
    text-decoration: line-through;
    color: #ccc;
}
.card-old-price+.card-current-price{
    color: #FF3333;
}

.card {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.card>img {
    height: 20rem;
    object-fit: contain;
}

.card:hover {
    overflow: visible;
}

.card.remainZero,
.card.remainZero i,
.card.remainZero .card-current-price {
    color: grey !important;
}

.card.remainZero a {
    background-color: grey;
    border: grey;
}

.card.remainZero img {
    filter: grayscale(100%);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-availability.remainZero {
    color: #851003;
}

.card-availability.remainSmall {
    color: #FF3333;
}

.card-availability.remainLot {
    color: green;
}

.top-star {
    position: absolute;
    color: gold;
    font-size: 50px;
    top: 5px;
    right: 5px;
}

.js-wish-btn {
    font-size: 1.5rem;
}

.js-wish-btn.fas {
    color: #FF3333;
}

.js-wish-btn:hover {
    background-color: #f4faf6;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.wish-list {
    font-size: 2rem;
    position: relative;
}

.wish-list>span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 100%;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    background-color: #FF3333;
}

.wish-list>span:empty {
    background-color: #fff;
    transition: .7s;
}

.wish-list>span:not(:empty) {
    transition: .7s;
}

/*.card::before {*/
/*    position: absolute;*/
/*    left: -8px;*/
/*    top: -8px;*/
/*    !*z-index: -1;*!*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    box-shadow: 0 2px 16px rgba(0,0,0,.24);*/
/*    background-color: #fff;*/
/*    opacity: 0;*/
/*    content: "";*/
/*}*/