html {
    font-size: 13px;
}

.card-old-price{
    text-decoration: line-through;
    color: #ccc;
}
.card-old-price+.card-current-price{
    color: #FF3333;
}

.card {
    height: 100%;
    position: relative;
}

.card>img {
    height: 20rem;
    object-fit: contain;
}

.card.remainZero,
.card.remainZero i,
.card.remainZero .card-current-price {
    color: grey !important;
}

.card.remainZero a {
    background-color: grey;
    border: grey;
}

.card.remainZero img {
    filter: grayscale(100%);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-availability.remainZero {
    color: #851003;
}

.card-availability.remainSmall {
    color: #FF3333;
}

.card-availability.remainLot {
    color: green;
}

.top-star {
    position: absolute;
    color: gold;
    font-size: 50px;
    top: 5px;
    right: 5px;
}

.js-wish-btn {
    font-size: 1.5rem;
}

.js-wish-btn.fas {
    color: #FF3333;
}